h1 {
    text-align: center;
    background-color: #FDE7E8;
    height: 100px;
    padding-top: 20px;
}

.searchContainer {
    margin: 15px;
}

.searchBtn {
    padding-top:10px;
}

.btn {
    background-color: #FDE7E8;
    color: black;
}

.todayWeather,
#future1,
#future3 {
    border: black solid;
    text-align:center;
    background-color: antiquewhite;
 }

 p{
    margin-top: 10px;
 }

 #future,
 #future2,
 #future4 {
    border: black solid;
    text-align: center;
    background-color: #FDE7E8;
    
 }